sudo: required
services: 
  - docker
script:
  - docker build -t dhanush1/node .
  - docker images dhanush1/node
before_deploy:
  - docker login -u dhanush1 -p Dhanushp@1
deploy:
  provider: script
  script: docker push dhanush1/node
  on:
    branch: master
